DJANGO_SECRET_KEY=your-secret-key-here

# AI parser
PARSER_BACKEND=mock
YANDEX_FOLDER_ID=
YANDEX_API_KEY=

# PostgreSQL
POSTGRES_DB=suetolog_db
POSTGRES_USER=suetolog_user
POSTGRES_PASSWORD=suetolog_pass

# Redis
REDIS_URL=redis://localhost:6379/0

#Token
TELEGRAM_BOT_TOKEN=suetolog_token
